form{
    width: 80%;
    margin: 40px auto;
    text-align: center;
    border: solid 1px #052a2e;
    padding: 30px;
    background-color: #f1edeb;
    display: flex;
}
h1{
    margin: 0;
    flex-basis: 50%;
}
input{
    height: 40px;
    width: 25%;
}
input[type="button"]{
    background-color: rgb(17, 236, 17);
    width: 10%;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.green{
    color: rgb(16, 221, 16)
}

.red{
    color: #ff0000;
}

.modal-background{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

.modal{
    background-color: #fff;
    width: 500px;
    margin: auto;
    text-align: center;
}

#close{
    padding: 5px;
    background-color: red;
    color: #fff;
    width: auto;
    height: 20px;
    cursor: pointer;
}
#close:hover{
    background-color: #000;
    color: #fff;
}

@keyframes aparecer{
    0%{
        opacity: 0;
        display: flex;
    }
    100%{
        opacity: 1;
        display: flex;
    }
}